.right .sales-analytics {
  margin-top: 2rem;
}

.right .sales-analytics h2 {
  margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
  background: var(--color-white);
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
  box-shadow: none;
}

.right .sales-analytics .item .icon {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .sales-analytics .item.offline .icon {
  color: var(--color-danger);
}

.right .sales-analytics .item.customers .icon {
  color: var(--color-success);
}

.right .sales-analytics .item .right {
  display: flex;
  gap: 1rem;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.right .sales-analytics .add-product {
  border: 1px dashed var(--color-primary);
  background: transparent;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .sales-analytics .add-product div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.right .sales-analytics .add-product h3 {
  font-weight: 600;
}
